@import "molecules/empresas/categorias";
.page-template-page-eventos-php {
	.mes {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
		@media screen and (max-width: 480px) {
			padding: 5px 0 0;
			width: 75px;
		}
	}

}
.datas {
	margin: 0 0 0 -10px;
	a {
		padding: 15px 20px 35px !important;
		span.number {
			display: block;
			height: 55px;
			@media screen and (max-width: 480px) {
				height: auto !important;
				float: left;
				font-size: 22px;
			}
			line-height: 55px;
			overflow: hidden;
			margin-bottom: 10px;
			font: 57px $medium_font;
			color: #fff;
			text-align: center;
		}
	}
}