main .categorias,
main .datas {
	margin: 0 0 0 -10px;
	@media screen and (max-width: 440px) {
		color: #fff;
		.nao-existe {
			text-align: left !important;
			margin: 10px 0 0;
		}
	}
	text-align: center;
	li {
		display: inline-block;
		width: 100px !important;
		@media screen and (max-width: 480px) {
			width: 100% !important;
			display: inline-block;
			min-height: 90px !important;
			width: 100%;
			border: none;
			figure {
				vertical-align: middle;
			    height: 43px !important;
			    line-height: 45px !important;	
			    display: inline-block !important;	
			    margin: 0 10px 0 0;	
			    width: 100%				
				img {
					display: table  !important;
					width: 25px;
					margin: 0 auto

				}
			}
		}
		&:last-child {
			margin: 0 0 10px;
		}
		vertical-align: top;
		a {
			display: block;
			text-align: center;
			color: #fff;
			padding: 15px 10px;
			font-size: 12px;
			min-height: 130px;
			text-transform: uppercase;
			overflow: hidden;
			@media screen and (max-width: 480px) { 
				padding: 13px 0;
				height: 43px;
				min-height: 110px;
			}

			> figure {
				display: block;
				height: 55px;
				line-height: 55px;
				overflow: hidden;
				margin-bottom: 10px;

				@media screen and (max-width: 480px) { 
					display: table !important;
					margin: 0 auto 10px !important;
				}

				> img {
					margin: 0 auto;
					width: auto !important;
				}
			}

			&:hover {
				background-color: #e1367f;
				text-decoration: none;
			}
			
		}

		&.active {
			a {
				position: relative;
				background-color: #e1367f;

				> span.seta {
					display: block;
				    position: absolute;
				    bottom: -10px;
				    z-index: 3;

					&:before {
					  content: "";
					  display: inline-block;
					  vertical-align: middle;
					  margin-right: 10px;
					  width: 0; 
					  height: 0; 

					  border-left: 20px solid transparent;
					  border-right: 20px solid transparent;
					  border-top: 20px solid #e1367f;
					}
				}
			}
		}
	}
}