@import "bosons/mixins";

.galeria {
	position: relative;
	z-index: 2;
	text-align: center;
	@include clearfix;
	margin: 30px 0 0;
	@include make-sm-column(10);
	@include make-sm-column-offset(1);
	li {
		a {
			border: 2px solid lighten($cinza, 40%);
			overflow: hidden;
			width: 150px;
			max-height: 150px;
			display: block;
			@include border-radius(7px);
			img {
				@include border-radius(6px);
				width: 100% !important;
				height: auto;
				@include transition(.5s);
			}			
		}
	}
}

@media screen and(max-width:450px) {
	.galeria {
		margin: 15px 0 15px;
	}
}
