#box-autor {
	> figure {
		@include make-xs-column(4);
		@include make-xs-column-offset(4);
		@include make-sm-column(2);
		@include make-sm-column-offset(0);
		padding: 0;

		> img {
			margin: 0 auto;
		}
	}
	#autor {
		@include make-xs-column(12);
		@include make-sm-column(10);

		@media screen and (max-width: 440px) {
			h3,
			h5 {
				text-align: center;
				margin: 10px 0
			}
		}

		> h3 {
			font: bold 17px $medium_font;
			color: #393939;
			text-transform: uppercase;
			margin: 0 0 25px;
		}

		> h5 {
			font-size: 14px;
			color: #434343;
			line-height: 1.5;
			margin: 0;
		}
	}
}